<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.challenge.rank.mapper.CommonQueryMapper">

    <select id="getInProgressCommonOne" resultType="org.scoula.challenge.rank.dto.CommonChallengeSimpleDTO">
        SELECT c.ID AS id, c.title, c.goal_value AS goalValue, c.start_date AS startDate, c.end_date AS endDate
        FROM challenge c
        WHERE c.type = 'COMMON' AND c.status = 'IN_PROGRESS'
        ORDER BY c.start_date ASC
            LIMIT 1
    </select>

    <select id="getRecruitingCommonOne" resultType="org.scoula.challenge.rank.dto.CommonChallengeSimpleDTO">
        SELECT c.ID AS id, c.title, c.goal_value AS goalValue, c.start_date AS startDate, c.end_date AS endDate
        FROM challenge c
        WHERE c.type = 'COMMON' AND c.status = 'RECRUITING'
        ORDER BY c.start_date ASC
            LIMIT 1
    </select>

    <select id="isParticipating" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM user_challenge
        WHERE user_id = #{userId} AND challenge_id = #{challengeId}
    </select>
</mapper>
