<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.transactions.mapper.LedgerMapper">

    <select id="findLedgerByUserId" resultType="org.scoula.transactions.domain.Ledger">
        SELECT id, user_id, source_type, source_name, amount, type, category, memo, analysis,
               date, merchant_name, place, account_id, card_id, source_id, created_at
        FROM ledger
        WHERE user_id = #{userId}
        ORDER BY date DESC
    </select>

    <select id="findLedgerDetail" resultType="org.scoula.transactions.domain.Ledger">
        SELECT id, user_id, source_type, source_name, amount, type, category, memo, analysis,
               date, merchant_name, place, account_id, card_id, source_id, created_at
        FROM ledger
        WHERE user_id = #{userId} AND id = #{ledgerId}
    </select>

    <insert id="insert" parameterType="org.scoula.transactions.domain.Ledger">
        INSERT INTO ledger (
            user_id, source_type, source_name,
            amount, type, category, memo, analysis,
            date, merchant_name, place, account_id, card_id, source_id, created_at
        ) VALUES (
                     #{userId}, #{sourceType}, #{sourceName},
                     #{amount}, #{type}, #{category}, #{memo}, #{analysis},
                     #{date}, #{merchantName}, #{place}, #{accountId}, #{cardId}, #{sourceId}, #{createdAt}
                 )
    </insert>


</mapper>
