<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.transactions.mapper.LedgerMapper">

    <!-- 통합 조회 -->
    <select id="findLedgers" resultType="org.scoula.transactions.domain.Ledger">
        SELECT
        l.id, l.user_id, l.source_type, l.source_name,
        l.amount, l.type,
        c.label AS category,  <!-- label = 사용자 노출용 -->
        l.date, l.merchant_name
        FROM ledger l
        JOIN tr_category c ON l.category_id = c.id
        WHERE l.user_id = #{userId}
        <if test="from != null">AND l.date &gt;= #{from}</if>
        <if test="to != null">AND l.date &lt;= #{to}</if>
        <if test="category != null">AND c.name = #{category}</if>
        ORDER BY l.date DESC
    </select>

    <!-- 거래 상세 조회 -->
    <select id="findLedgerDetail" resultType="org.scoula.transactions.domain.Ledger">
        SELECT
        l.id, l.user_id, l.source_type, l.source_name, l.amount, l.type,
        l.memo, l.analysis, l.date, l.merchant_name, l.place,
        l.account_id, l.card_id, l.source_id, l.created_at,
        c.name AS category
        FROM ledger l
        JOIN tr_category c ON l.category_id = c.id
        WHERE l.user_id = #{userId} AND l.id = #{ledgerId}
    </select>


    <insert id="insert" parameterType="org.scoula.transactions.domain.Ledger">
        INSERT INTO ledger (
            user_id, source_type, source_name,
            amount, type, category_id, memo, analysis,
            date, merchant_name, place, account_id, card_id, source_id, created_at
        ) VALUES (
                     #{userId}, #{sourceType}, #{sourceName},
                     #{amount}, #{type}, #{categoryId}, #{memo}, #{analysis},
                     #{date}, #{merchantName}, #{place}, #{accountId}, #{cardId}, #{sourceId}, now()
                 )
    </insert>

</mapper>
