<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.dictionary.mapper.DictionaryMapper">

    <select id="getList" resultType="org.scoula.dictionary.domain.DictionaryVO">
        SELECT id, term, definition FROM dictionary
    </select>

    <select id="getById" resultType="org.scoula.dictionary.domain.DictionaryVO">
        SELECT id, term, definition FROM dictionary
        WHERE id=#{id}
    </select>

    <select id="getByWord"  parameterType="String"  resultType="org.scoula.dictionary.domain.DictionaryVO">
        SELECT id, term, definition FROM dictionary
        WHERE
            term LIKE CONCAT(#{query}, '%')
        ORDER BY
            term
    </select>

</mapper>