<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.quiz.mapper.QuizMapper">
    <select id="getQuiz" parameterType="long" resultType="org.scoula.quiz.domain.QuizVO">
        SELECT id, question, answer, explanation FROM quiz
            WHERE
            NOT EXISTS (
                SELECT 1
                FROM quiz_history
                WHERE quiz_history.quiz_id = quiz.id
                  AND quiz_history.user_id = #{userId}
            )
        ORDER BY RAND()
            LIMIT 1
    </select>
    <select id="isQuizTakenToday" resultType="int">
        SELECT COUNT(*)
        FROM `quiz_history`
        WHERE `user_id` = #{userId}
          AND `quiz_id` = #{quizId}
          AND DATE(`submitted_at`) = CURDATE();
    </select>
</mapper>