<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.card.mapper.CardMapper">
    <insert id="insertCard" parameterType="org.scoula.card.domain.Card"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO card (
            user_id, fin_card_number, back_code, bank_name, card_name,
            card_maskednum, card_member_type, card_type, is_active
        ) VALUES (
                     #{userId}, #{finCardNumber}, #{backCode}, #{bankName}, #{cardName},
                     #{cardMaskednum}, #{cardMemberType}, #{cardType}, TRUE
                 )
    </insert>

    <select id="findById" resultType="org.scoula.card.domain.Card">
        SELECT *
        FROM card
        WHERE id = #{cardId}
    </select>

    <update id="updateIsActive">
        UPDATE card
        SET is_active = #{isActive}
        WHERE id = #{id}
    </update>

    <select id="findActiveByUserId" resultType="org.scoula.card.domain.Card">
        SELECT * FROM card
        WHERE user_id = #{userId}
          AND is_active = TRUE
    </select>

    <select id="findByIdList" resultType="org.scoula.card.domain.Card">
        SELECT * FROM card
        WHERE is_active = TRUE
        AND id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="countByUser" resultType="int">
        SELECT COUNT(1) FROM account WHERE user_id=#{userId} AND is_active = TRUE
    </select>


</mapper>