<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.finance.mapper.DepositMapper">

    <!-- 예금 목록 조회 (필터 적용) -->
    <select id="getDepoistList"
            parameterType="org.scoula.finance.dto.deposit.DepositFilterDto"
            resultType="org.scoula.finance.dto.deposit.DepositListDto">

        SELECT
        deposit_bank_name,
        deposit_product_name,
        deposit_contract_period,
        deposit_subscription_amount,
        deposit_basic_rate,
        deposit_max_rate,
        deposit_summary
        FROM deposit_list

        <where>
            <if test="bankName != null and bankName != ''">
                deposit_bank_name = #{bankName}
            </if>

            <if test="contractPeriodMonth != null">
                AND CAST(SUBSTRING_INDEX(deposit_contract_period, '개월', 1) AS UNSIGNED) &lt;= #{contractPeriodMonth}
            </if>

            <if test="minSubscriptionAmount != null">
                AND CAST(REPLACE(deposit_subscription_amount, '만원', '') AS UNSIGNED) * 10000 &lt;= #{minSubscriptionAmount}
            </if>
        </where>

        <choose>
            <when test="rateOrder == 'asc'">
                ORDER BY deposit_basic_rate ASC
            </when>
            <otherwise>
                ORDER BY deposit_basic_rate DESC
            </otherwise>
        </choose>
    </select>

    <!-- 예금 상세 조회 by 상품명 -->
    <select id="selectDepositByProductName" resultType="org.scoula.finance.dto.deposit.DepositDetailDto">
        SELECT
            *
        FROM deposit_list
        WHERE deposit_product_name = #{productName}
    </select>

    <!-- 예금 추천 목록 조회 -->
    <select id="selectAllDepositRecommendations" resultType="org.scoula.finance.dto.deposit.DepositRecommendationDto">
        SELECT
            *
        FROM deposit_list
    </select>

    <select id="selectDepositListByProductName" resultType="org.scoula.finance.dto.deposit.DepositListDto">
        SELECT
        *
        FROM deposit_list
        WHERE deposit_product_name IN
        <foreach item="name" collection="names" open="(" separator="," close=")">
            #{name}
        </foreach>
        ORDER BY FIELD(deposit_product_name,
        <foreach item="name" collection="names" separator=",">
            #{name}
        </foreach>
        )
    </select>
</mapper>
