<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.finance.mapper.FundMapper">

    <select id="getFundList" resultType="org.scoula.finance.dto.fund.FundListDto">
        SELECT
            *
        FROM fund_list
    </select>

    <select id="getFundListByFundProductName" resultType="org.scoula.finance.dto.fund.FundListDto">
        SELECT
        *
        FROM fund_list
        WHERE fund_product_name IN
        <foreach collection="list" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>

    <select id="getFundDetail" resultType="org.scoula.finance.dto.fund.FundDetailDto">
        SELECT
            *
        FROM fund_list
        WHERE fund_product_name = #{fundProductName}
    </select>

    <select id="getFundRecommendationList" resultType="org.scoula.finance.dto.fund.FundRecommendationDto">
        SELECT
            *
        FROM fund_list
    </select>
</mapper>