<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.finance.mapper.InstallmentMapper">

    <select id="getInstallmentList" resultType="org.scoula.finance.dto.installment.InstallmentListDto">
        SELECT
            installment_bank_name,
            installment_product_name,
            installment_type,
            installment_basic_rate,
            installment_max_rate,
            installment_summary
        FROM installment_list
    </select>
</mapper>