<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.user.mapper.UserMapper">

    <select id="selectFirstUser" resultType="org.scoula.user.domain.User">
        SELECT * FROM user LIMIT 1
    </select>

    <insert id="save" parameterType="org.scoula.user.domain.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (email, password) VALUES (#{email}, #{password})
    </insert>

    <select id="findByEmail" resultType="org.scoula.user.domain.User">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <select id="findNicknameById" resultType="string">
        SELECT nickname FROM user_status WHERE id = #{id}
    </select>


    <update id="updatePassword" parameterType="org.scoula.user.domain.User">
        UPDATE user
        SET password = #{password},
            last_pw_change_at = NOW()
        WHERE email = #{email}
    </update>

    <insert id="insertUserChallengeSummary">
        INSERT INTO user_challenge_summary (id, total_challenges, success_count, achievement_rate)
        VALUES (#{userId}, 0, 0, 0.00)
    </insert>

    <update id="updateIsActive">
        UPDATE user
        SET is_active = false
        WHERE id = #{id}
    </update>

    <update id="updatePin" parameterType="org.scoula.user.domain.User">
        UPDATE user SET auth_pw = #{authPw} WHERE id=#{id}
    </update>

    <select id="getPin" resultType="String">
        SELECT auth_pw FROM user WHERE id=#{userId}
    </select>

</mapper>
